@import 'config';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	list-style: none;
	text-decoration: none;
}

h1 {
	text-align: center;
}

.graph-creator {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"left-display right-display"
		"input		  input"
		"history      history";
	justify-items: center;

	.graph-display {
		width: 40rem;
		height: 30rem;

		animation: 1s ease-in 0s 1 fromZeroWidthAndHeight;

		border: 2px solid black;
		border-radius: 2rem 2rem 0 2rem;

		.react-flow {
			&__node {
				width: fit-content;
				height: fit-content;
			}
		}

	}

	.graph-display:nth-child(0) {
		grid-area: "left-display";
	}
	
	.graph-display:nth-child(1) {
		grid-area: "right-display";
	}

	&__input {
		grid-area: input;
		justify-self: center;

		display: flex;
		flex-direction: column;
		
		label {
			text-align: center;
		}

		&--textarea {
			height: 20rem;
			width: 50em;
		}

		&-display {
			text-align: center;
		}
	}

	&__output-display {
		text-align: center;
	}
	
	&__history {
		grid-area: history;

		h2 {
			text-align: center;
		}
	}
}

.info {
	background-color: lightgray;
	border-radius: 2rem;
	margin: 1rem;

	p {
		text-align: center;
	}
}

@keyframes fromZeroWidthAndHeight {
	0% {
		width: 0;
		height: 0;
	}
}
