@import 'config';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	list-style: none;
	text-decoration: none;
}

.graph-creator {
	.react-flow {
		width: 20em;
		height: 20em;

		&__node {
			width: fit-content;
			height: fit-content;
		}

	}

	textarea {
		height: 10em;
		width: 10em;
	}
}
